html {
    font-size: 62.5%;
}

body {
    background-color: #999999;
    font-family: sans-serif;
}

nav {
    background-color: #111111;
    padding: 1.2rem;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: #AEAEAE;
    font-size: 1.4rem;
    float: right;
}

nav a:hover,
nav a:active {
    color: #FFFFFF;
}

.itemCard {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 30rem;
    padding: 1rem;
    margin: 2rem 0.5rem;
    opacity: 80%;
    box-shadow: 0 0 5px #434343;
}

.itemCard h1,
.itemCard h2 {
    text-transform: capitalize;
}

.container {
    display: flex;
    margin: 2.4rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.curatePage {
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 100rem;
    padding: 1rem;
    margin: 2rem auto;
    opacity: 80%;
    box-shadow: 0 0 5px #434343;
}

h1 {
    text-align: center;
    display: block;
    width: 100%;
}

h2 {
    text-align: center;
    display: block;
    width: 100%;
}

form {
    margin: 0 auto;
    display: block;
}

input {
    display: block;
    margin-bottom: 1em;
    width: auto;
    border-radius: 5px;
    border: 1px solid #000000;
}

#completion {
    display: inline-block;
}

label {
    margin-top: 2em;
}

textarea {
    display: block;
    margin-bottom: 1em;
    width: auto;
    border-radius: 5px;
    width: 30rem;
    height: 10rem;
}